<?xml version="1.0"?>

<launch>
    <arg name="input_topic"                default="/pointpillars/detections"/>
    <arg name="output_topic"               default="/rviz/detections/bbox"/>
    <arg name="marker_lifetime"            default=""/>
    <arg name="run_rate_hz"                default="40"/>
    <arg name="debug"                      default="true"/>

    <node name="rviz_detections" type="rviz_detections" pkg="rviz_detections" cwd="node" output="screen">
        <param name="input_topic"            value="$(arg input_topic)"/>
        <param name="output_topic"           value="$(arg output_topic)"/>
        <param name="marker_lifetime"        value="$(arg marker_lifetime)"/>
        <param name="run_rate_hz"            value="$(arg run_rate_hz)"/>
        <param name="debug"                  value="$(arg debug)"/>
        <param name="scale"                  value="0.07"/>
        <rosparam param="color">[0.32, 0.60, 0.64, 1.0]</rosparam>
    </node>
</launch>
